.big-card {
        background-image: url("../Images/vrai_amongus_irl.png");
        background-size: cover;
        background-position: center;
        text-align: center;
        background-color: aliceblue;
        background-position: center;
        width: 80%;
        margin-bottom: 10px; margin: auto;
        padding: 5px;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
