.cards {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px ;
    margin: 40px ;
}
.card-white{
    background-color:aliceblue; 
    border-radius: 10px; 
    box-shadow: 10px;
}
.card-white img 
{   width: 80%; height: 70%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    margin: auto;
}

/* // Small devices (landscape phone, 576px and up) */
@media (min-width: 576px) {
    .cards {
        grid-template-columns: 1fr ;

    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .cards {
        grid-template-columns: 1fr ;

    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .cards {
        grid-template-columns: 1fr 1fr;

    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .cards {
        grid-template-columns: 1fr 1fr;

    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .cards {
        grid-template-columns: 1fr 1fr;

    }
}