.footer {
    background-image:url(../Images/Espace\ Among\ Us\ bien\ rogné.png);
    text-align: center;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 48px 0px    ; font-size: 25px;
}
.footer img {width="200px" height="70px"
}